.vs
.build
.build.*
.out.*
.vscode
/build.*
platforms/android/apsdk/*.project
platforms/android/apsdk/.settings/*.prefs
platforms/android/apsdk/apsdk/*.classpath
platforms/android/apsdk/apsdk/*.project
platforms/android/apsdk/apsdk/.settings/*.prefs
platforms/android/apsdk/apsdk/.cxx
platforms/android/apsdk/mobile/*.classpath
platforms/android/apsdk/mobile/*.project
platforms/android/apsdk/mobile/.settings/*.prefs
platforms/android/apsdk/.idea/gradle.xml
